{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1>{% trans 'Comment post not allowed' %}</h1>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <table class="meta">
                <tr>
                    <th>Why:</th>
                    <td>{% autoescape off %}{{ why }}{% endautoescape %}</td>
                </tr>
            </table>
        </div>
    </div>

{#    <div class="row">#}
{#        <div class="col-md-12 col-sm-12">#}
{#            <p>#}
{#                The comment you tried to post to this view wasn't saved because something#}
{#                tampered with the security information in the comment form. The message#}
{#                above should explain the problem, or you can check the <a#}
{#                    href="http://docs.djangoproject.com/en/dev/ref/contrib/comments/">comment#}
{#                documentation</a> for more help.#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{% endblock %}