{% extends 'base.html' %}

{% load settings %}
{% load i18n %}

{% block title %}{% title 'Trending Topics' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1>{% trans 'Trending Topics' %}</h1>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                {% if topic_list|length > 0 %}
                    {% for topic in topic_list %}
                        <div class="col-md-6 col-sm-12 topic-box">
                            {% include 'Topics/includes/topic_view.html' with topic=topic %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-md-6 col-sm-12">
                        <p>
                            {% trans 'No topics found' %}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}