{% extends 'base.html' %}

{% load i18n %}
{% load settings %}
{% load threadedcomments_tags %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}{% title topic.title %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    {% include 'Topics/includes/topic_view.html' with topic=topic %}
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            {% render_comment_list for topic %}
{#            {% get_comment_list for topic as topic_comment_list %}#}
{#            {% for topic_comment in topic_comment_list %}#}
{#                {% if not topic_comment.parent_comment %}#}
{#                    {% include 'Topics/includes/comment_row.html' with topic_comment=topic_comment margin=0 %}#}
{#                {% endif %}#}
{#            {% endfor %}#}
        </div>
    </div>

    <div class="divider"></div>

    {% if request.user.is_authenticated %}
        <div class="row">
            <div class="col-md-12 col-sm-12">
                {% blocktrans with request.user as user %}
                    <h4>You are commenting as <strong>{{ user }}</strong></h4>
                {% endblocktrans %}
            </div>
        </div>
    {% endif %}

    <div class="row comment-form" id="comment">
        <div class="col-md-12 col-sm-12">
            {% render_comment_form for topic %}
{#            {% get_comment_form for topic as form %}#}
{#            <form action="{% url 'Comments:comments-post-comment' %}" method="POST" id="comment-form">#}
{#                <input type="hidden" name="next" value="{{ request.path }}"/>#}
{#                {% csrf_token %}#}
{#                {% bootstrap_form form %}#}
{##}
{#                {% buttons %}#}
{#                    <button type="submit" class="btn btn-primary">#}
{#                        {% bootstrap_icon "envelope" %} {% trans 'Add Comment' %}#}
{#                    </button>#}
{#                {% endbuttons %}#}
{#            </form>#}
        </div>
    </div>
{% endblock %}