{% extends 'base.html' %}

{% load i18n %}
{% load settings %}

{% block title %}{% title topic.title %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    {% include 'Topics/includes/topic_view.html' with topic=topic %}
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="comment">
        <div class="col-md-12 col-sm-12">
            Comment Form
        </div>
    </div>
{% endblock %}