{% extends 'base.html' %}

{% load i18n %}
{% load settings %}
{% load comments %}
{% load bootstrap3 %}

{% block title %}{% title topic.title %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    {% include 'Topics/includes/topic_view.html' with topic=topic %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            {% get_comment_list for topic as topic_comment_list %}
            {% for topic_comment in topic_comment_list %}
                <div class="row comment-row mg-bottom-sm">
                    <div class="col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <div class="comment-image-wrapper">
                                    <img src="http://www.dotnetcodesg.com/Register/UserImage/Default.png" alt="Anonymous User" />
                                </div>
                            </div>

                            <div class="col-md-10 col-sm-10">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <strong>
                                            {% if topic_comment.user %}
                                                {{ topic_comment.user.username }}
                                            {% else %}
                                                {{ topic_comment.user_name }}
                                            {% endif %}
                                        </strong>
                                    </div>

                                    <div class="col-md-6 col-sm-6 text-right">
                                        <span class="label label-warning">{{ topic_comment.submit_date|date:'d. F Y H:i' }}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <p>
                                            {{ topic_comment.comment }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row" id="comment">
        <div class="col-md-12 col-sm-12">
            {% get_comment_form for topic as form %}
            <form action="{% url 'Comments:comments-post-comment' %}" method="POST">
                <input type="hidden" name="next" value="{{ request.path }}" />
                {% csrf_token %}
                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                      {% bootstrap_icon "thumbs-up" %} {% trans 'Add Comment' %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}