.divider {
    border-bottom: 1px solid #a3a3a3;
    margin: 10px 0 10px 0;
}

.span-link:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.topic-box {
    padding-bottom: 10px;
}

.topic-box:hover {
    background: rgba(0, 171, 144, 0.07);
}