{% extends 'base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load settings %}

{% block title %}{% title 'Login' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1>{% trans 'User Login' %}</h1>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form authentication_form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                      {% bootstrap_icon "thumbs-up" %} {% trans 'Login' %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}