{% load i18n %}
{% load bootstrap3 %}
{% load comments %}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <a href="{% url 'Topics:view_opinion' slug=topic.slug %}">
            <h1>{{ topic }}</h1>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <p>{{ topic.description|truncatechars:100 }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12">
        {% get_comment_count for topic as topic_comment_count %}
        {% blocktrans with topic_comment_count=topic_comment_count %}
            Comments: <span class="label label-success">{{ topic_comment_count }}</span>
        {% endblocktrans %}
    </div>

    <div class="col-md-6 col-sm-12 text-right">
        {% blocktrans with latest_action_at=topic.latest_action_at|date:'d. F Y H:i' %}
            Latest action: <span class="label label-warning">{{ latest_action_at }}</span>
        {% endblocktrans %}
    </div>
</div>

<div class="row mg-bottom-sm">
    <div class="col-md-6 col-sm-12">
        {% trans 'Tags' %}:
        {% for topic_tag in topic.topictag_set.all %}
            <a href="{% url 'Topics:view_by_tag' slug=topic_tag.slug %}" class="span-link">
                <span class="label label-info">{{ topic_tag }}</span>
            </a>
        {% endfor %}
    </div>

    <div class="col-md-6 col-sm-12 text-right">
        {% trans 'Category' %}:
        <a href="{% url 'Topics:view_by_category' slug=topic.category.slug %}" class="span-link">
            <span class="label label-primary">{{ topic.category }}</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 text-center">
        <a href="{% url 'Topics:view_opinion' slug=topic.slug %}#comment" class="btn btn-primary">
            {% bootstrap_icon 'pencil' %}
            {% trans 'Add your opinion to discussion' %}
        </a>
    </div>
</div>